<ion-view title="Información de Autor" id="page2" style="background-color:#E247B5;">
    <ion-content padding="true" style="background: url(img/iynEggYT9yrFWcC6srtQ_Info.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="informaciNDeAutor-list3">
            <ion-item class="item-icon-left" id="informaciNDeAutor-list-item5">
                <i class="icon ion-android-person"></i>Autor: Belén Mayo</ion-item>
            <ion-item class="item-icon-left" id="informaciNDeAutor-list-item6">
                <i class="icon ion-ios-email"></i>E-mail: belenmayo6@gmail.com</ion-item>
            <ion-item class="item-icon-left" id="informaciNDeAutor-list-item11">
                <i class="icon ion-social-github"></i>GitHub: Belén Mayo</ion-item>
            <ion-item class="item-icon-left" id="informaciNDeAutor-list-item10">
                <i class="icon ion-social-linkedin"></i>LinkedIn: Belén Mayo</ion-item>
            <ion-item class="item-icon-left" id="informaciNDeAutor-list-item7">
                <i class="icon ion-social-facebook"></i>Facebook: Bel.Mayo</ion-item>
        </ion-list>
    </ion-content>
</ion-view>