<ion-view title="Login" id="page6">
    <ion-content padding="true" style="background: url(img/C6eEWXYxQaC3PVRsptsw_Fondo20Trivia203.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" ng-click= "enviar();" class="button button-positive  button-block icon ion-android-contact">Log in</button>
        </form>
    </ion-content>
</ion-view>